@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap')
    
.navbar-brand
    .navbar-title
        font-family: 'Supermercado One', cursive
        font-size: 35px
        margin:
            left: 20px
            top: 10px

.navbar-collapse
    display: flex
    justify-content: flex-end
    margin-top: -10px

    .nav-item
        padding-right: 40px
        &:last-child
            padding-right: 20px